.input {
  outline: none;
  border: 1px solid #d0d3da;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #737680;
  width: 256px;
}
