.wrap {
  width: 514px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.pair {
  display: flex;
  flex-direction: column;
}

.checkline {
  display: flex;
  gap: 12px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
