.wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
  opacity: 1;
}

.input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d0d3da;
  border-radius: 8px;
  width: 100%;
  color: #37393d;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737680;
}

.disabled {
  pointer-events: none;
  background: #f8f8fa;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 16px;
  cursor: pointer;
}
