.wrap {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  width: 320px;
  height: 40px;
  border: 1px solid #d0d3da;
  border-radius: 8px;
}

.input {
  outline: none;
  border: none;
  width: 90%;
}

.input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #737680;
}

.search,
.clear {
  display: flex;
  align-items: center;
  cursor: pointer;
}
